{% load django_htmx %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}My Blog{% endblock %}</title>
  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
  {% django_htmx_script %}
</head>
<body>
  {% block header %}
    {% include "header.html" %}
  {% endblock %}

  <main class="main">
    <aside class="main-sidebar">
      {% block side_section %}
        {% include "side_section.html" %}
      {% endblock %}
    </aside>

    <section class="main-content">
      {% block content %}{% endblock %}
    </section>
  </main>

  {% block footer%}
    {% include "footer.html" %}
  {% endblock %}
</body>
</html>
