{% load django_htmx static %}
{% if not request.htmx %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    <title>Infinite Scroll Blog</title>
    {% htmx_script %}
</head>
<body>
    <div class="layout">
        <aside class="sidebar">
            <img src="{% static 'core/img/logo_bash.svg' %}" class="sidebar-logo"/>
            <span class="sidebar-header">Topics</span>
            <ul class="sidebar-list">
                {% for tag in tags %}
                    <li><a href="/tags/{{ tag.name }}">{{ tag.name }}</a></li>
                {% empty %}
                    <li>No tags yet.</li>
                {% endfor %}
            </ul>
        </aside>

        <main class="main-content">
        {% endif %}
        {% block content %}
        
            <div id="posts-container">
                {% for post in posts_list %}
                    <article>
                        <h2><a href="/posts/{{ post.post_slug }}">{{ post.post_title }}</a></h2>
                        <div class="post-container-entry">{{ post.body_preview|safe }}...</div>
                        <div class="tags">
                          {% for tag in post.tags.all %}
                            <span class="tag">#{{ tag }}</span>
                          {% endfor %}
                        </div>
                    </article>
                {% endfor %}
            </div>

            <div id="spinner" class="htmx-indicator">
                Loading more posts...
            </div>

            {% if has_next %}
                <div class="trigger"
                     hx-get="{{ next_url }}"
                     hx-trigger="intersect once"
                     hx-target="#posts-container"
                     hx-swap="beforeend"
                     hx-indicator="#spinner"
                     hx-select="article, .trigger"
                     id="scroll-trigger">
                </div>
            {% endif %}
{% endblock %}
{% if not request.htmx %}
        </main>
    </div>
</body>
</html>
{% endif %}
